<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/login">Login</a>
            </li>
                
                
                 {{#if user}}
                    <li>
                       <a href="/userProfile">Profile</a>
                    </li>
                 {{/if}}


               {{#if user.isAdmin}}
                 <li>
                   <a href="/admin">Admin</a>
                </li>
               {{/if}}
               
             <li>
                <form action="/logout" method="POST">
                <button type="submit">Logout</button>
                </form>
            </li>
           
        </ul>
    </nav>
    {{{body}}}
</body>
</html>